.hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	width: 100%;
	clear: both;
	border: none;
	border-top: 2px solid #AAA;
	border-bottom: 2px solid #FFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
}

.logo-inline {
	display:inline-block;
	float:left;
	margin-right:7%;
	padding-bottom: 15px
}

blockquote {
	font-size: 1em;
	font-style: italic;
}
