html, body {
  height: 100%;
}
body {
  padding-top: 70px;
}

#leftnav {
  padding-top: 50px;
}

#selected-menu {
  font-size: 14px;
  padding: 3px 5px;
  margin: 16px 0px;
}

.nav > li > a {
   padding: 3px 5px 3px 15px;
}

.nav > li > div > a {
   padding: 3px 5px 3px 15px;
}

h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 26px;
}
h3, .h3 {
  font-size: 22px;
}
h4, .h4 {
  font-size: 18px;
}


.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

.dropdown-header {
  font-size: 14px;
  font-weight: bold; 
  font-style: italic;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
  
}

@media (max-width: 992px) {
    .navbar {
        background: none;
        border: none;
    }
}

@media (min-width: 992px) {
  body {
    padding: 50px 0 0 300px;
  }

  body.noleftnav {
    padding: 50px 0 0 0;
  }

  /*.navmenu {
    padding-top: 0;
  }*/
  /*.navbar {
    display: none !important; 
  }*/  /* IE8 fix */
}