html, body {
  height: 100%;
}
body {
  padding-top: 50px;
}

#docpage {
  top: 50px;
}

#leftnav {
  padding-top: 50px;
}

.nav > li > a {
   padding: 3px 5px 3px 15px;
}

.navbar {
  display: block;
  text-align: center;
  margin-bottom: 0;
}
.navbar-brand {
  display: inline-block;
  float: none;
  padding: 15px 5px 10px 15px;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
  
}

@media (max-width: 992px) {
    .navbar {
        background: none;
        border: none;
    }
}

@media (min-width: 992px) {
  body {
    padding: 50px 0 0 300px;
  }

  body.noleftnav {
    padding: 50px 0 0 0;
  }

  /*.navmenu {
    padding-top: 0;
  }*/
  /*.navbar {
    display: none !important; 
  }*/  /* IE8 fix */
}