html, body {
  height: 100%;
}

#header {
  margin-bottom: 0px;
}

#leftnav {
  padding-top: 61px;
}

#docpage {
  padding-top: 61px;
  width: 100%;
  height: 100%;
  scroll: auto;
}

#menu-header {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.navmenu {
  width: 220px;
}

.navmenu-nav.dropdown-menu {
    width: 219px;
}

.nav > li > a {
   padding: 3px 5px 3px 15px;
}

.nav > li > div > a {
   padding: 3px 5px 3px 15px;
}

h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 26px;
}
h3, .h3 {
  font-size: 22px;
}
h4, .h4 {
  font-size: 18px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}

.navbar-toggle {
  margin-left: 8px;
  margin-right: 4px;
  border: none;
}

.container {
  max-width: 100%;
}

.dropdown-header {
  font-size: 14px;
  font-weight: bold; 
  font-style: italic;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
  
}
@media (min-width: 992px) {
  #docpage {
    padding: 61px 0px 0px 235px;
  }
}

#next-prev {
    float: right !important;
}

@media (max-width: 992px) {
    .navmenu-brand {
        margin-top: 4px;
        margin-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-brand {
        margin-top: 4px;
        margin-bottom: 8px;
        padding: 8px;
    }
    #next-prev {
        float: none !important;
        margin-bottom: 0;
    }
}

.button.dropdown-toggle {
    border: none;
    background-color: rgba(0, 0, 0, 0); /* transparent */
}

.selector-menu-item {
    margin-left: 15px;
}
