@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.navmenu-brand { color: #ffffff; }

/* Copied/Adapted from generated code below */
.navmenu-default {
  background-color: #28688c;
  border-color: #215572;
}

.navmenu-default a, .navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a,
.navmenu-default .navmenu-brand,
.navmenu-default .caret {
    color: #ffffff;
}

.navmenu-default .navmenu-nav.dropdown-menu,
.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu,
.navmenu-default .open a {
  background-color: #215572;
}

.navmenu-default a:hover, 
.navmenu-default a.navmenu-brand:hover,
.navbar-default a:hover,
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover {
    color: #f0c000;
}

.navmenu-default .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav.dropdown-menu > .active > a {
    background-color: #ffffff;
}

/* Everything below generated by http://twitterbootstrap3navbars.w3masters.nl/?color=%2328688c&linkcolor=%23ffffff&activelinkcolor=%23c0c0c0&gradient=0&gradient=1&borders=0&borders=1 */

.navbar-default {
  background-color: #28688c;
  border-color: #215572;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3385b4), to(#28688c));
  background-image: -webkit-linear-gradient(top, #3385b4, 0%, #28688c, 100%);
  background-image: -moz-linear-gradient(top, #3385b4 0%, #28688c 100%);
  background-image: linear-gradient(to bottom, #3385b4 0%, #28688c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3385b4', endColorstr='#ff28688c', GradientType=0);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li:last-child > a {
  border-right: 1px solid #215572;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #215572;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #215572;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#215572), to(#2c729a));
  background-image: -webkit-linear-gradient(top, #215572, 0%, #2c729a, 100%);
  background-image: -moz-linear-gradient(top, #215572 0%, #2c729a 100%);
  background-image: linear-gradient(to bottom, #215572 0%, #2c729a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff215572', endColorstr='#ff2c729a', GradientType=0);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #205370;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #215572;
  color: #c0c0c0;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #215572;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #c0c0c0;
}

