<button type="button" class="btn btn-default btn-xs navbar-brand pull-right">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-xs navbar-brand pull-right" aria-label="Left Align">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</button>

<div class="pull-right">
    <ba class="btn btn-small" href="#"><i class="icon-arrow-left"></i>xxx </a>
    <a class="btn btn-small" href="#"><i class="icon-arrow-right"></i>yyy </a>
</div>