<footer class="footer">
  <div class="footer__inner">
    <div class="footer__upper">
      <div class="footer__social-icons">
        <div class="item-list">
		  <h3>Follow us:</h3>
		  <ul>
			<li class="first"><a href="https://www.facebook.com/breezejs" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
			<li><a href="https://twitter.com/breezejs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li><a href="http://www.youtube.com/playlist?list=PL88C2B43249433416&amp;amp;feature=plcp" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a></li>
			<li class="last"><a href="https://github.com/Breeze/breeze.js" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a></li>
		  </ul>
		</div>
	  </div>
      <ul class="footer__menu">
	    <li class="menu-1693 first"><a href="/doc-main/download">Download</a></li>
	    <li class="menu-1694"><a href="http://learn.breezejs.com/" target="_blank">Tutorials</a></li>
	    <li class="menu-1695"><a href="/doc-main">Docs</a></li>
	    <li class="menu-1696"><a href="/doc-samples">Samples</a></li>
	    <li class="menu-1697"><a href="/doc-js/api-docs/index.html" target="_blank">API</a></li>
	    <li class="menu-1698"><a href="/doc-main/support">Support</a></li>
	    <li class="menu-1699"><a href="/blog">Blog</a></li>
	    <li class="menu-1700 last"><a href="https://www.ideablade.com/jobs" target="_blank">Jobs</a></li>
	  </ul>
    </div>
    <div class="footer__lower">
      <p class="copyright">&copy; BreezeJS 2015</p>
      <p class="open-source"><span class="icons-mit-logo-small"></span> Free &amp; open source</p>
    </div>
  </div>
</footer>