<body>
    {% include defaultleftnav.html %}
    {% include defaultheader.html %}

	<div id="docpage-outer">
        <div class="container" id="docpage">
            <div id="proserve" style="text-align: center">
                <a href="https://www.ideablade.com/services" title="Ask IdeaBlade" style="color: white; text-decoration: none; font-size: 100%;">
                    Need a hand with your app?
                    <img src="/images/pointing-hand.png" height="20px" >
                </a>
            </div>
            <div id="docpage-content">
                {{content}}
            </div>
			<div id="content-footer" class="hidden-xxs">
				<div style="padding-left: 10px;">&copy; IdeaBlade 2012-2023</div>
				<div style="flex-grow:2"><a href="http://opensource.org/licenses/MIT" target="_blank"><img src="/images/logos/mit.png" height="25px" width="25px"></a> Free &amp; open source</div>
				<div style="padding: 0 10px 4px 0;"><a href="http://www.ideablade.com/" target="ideablade_site"><img src="/images/logos/ideablade-new-logo-h21.png" height="21" width="88" alt="ideablade"></a></div>
			</div>
        </div>
    </div>

    {% include defaultfooter.html %}
</body>