<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="hidden-md hidden-lg">
        <button type="button" class="navbar-toggle pull-left" style="position: static" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <a id="navbar-breeze-logo" class="navmenu-brand pull-left" href="/doc-main/"><img src="/images/logos/BreezeLogo_white_80.png" height="28" width="80" alt="Breeze" /></a>

    <!-- Tech selector -->
    <div class="btn-group pull-left">
        <a id="selected-menu" class="navmenu-brand dropdown-toggle hidden-sm hidden-xs" data-toggle="dropdown" aria-expanded="false">
            {{menu.title}}  <span class="caret"></span>
        </a>
        <a class="tech-subhead hidden-lg hidden-md" data-toggle="dropdown" aria-expanded="false">{{menu.title}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

		{% if widget1 %}
			<li class="visible-xxs">
			{% include {{widget1}} %}
			</li>
		{% endif %}
		{% if widget2 %}
			<li class="visible-xxs">
			{% include {{widget2}} %}
			</li>
		{% endif %}
            <li class="visible-xxs"><a href="https://www.getbreezenow.com/support.html" class="navmenu-brand pull-left">Support</a></li>

            <li role="presentation" class="dropdown-header">Overview</li>
            <li><a class="selector-menu-item" href="/doc-main/">Introduction</a></li>
            <li role="presentation" class="dropdown-header">Client technologies</li>
            <li><a class="selector-menu-item" href="/doc-js/">JavaScript client</a></li>
            <li><a class="selector-menu-item" href="/doc-cs/">C# client</a></li>
            <li role="presentation" class="dropdown-header">Server technologies</li>
            <li><a class="selector-menu-item" href="/doc-net/">.NET server + Entity Framework or NHibernate</a></li>
            <li><a class="selector-menu-item" href="/doc-node-sequelize/">Node server + Sequelize</a></li>
            <li><a class="selector-menu-item" href="/doc-node-mongodb/">Node server + MongoDB</a></li>
            <li><a class="selector-menu-item" href="/doc-java-hib/">Java server + Hibernate</a></li>
            <li role="presentation" class="dropdown-header">Other</li>
            <li><a class="selector-menu-item" href="/doc-samples/">Samples</a></li>
            <li><a class="selector-menu-item" href="/doc-blog/">Blog</a></li>
            <li><a class="selector-menu-item" href="/doc-cool-breezes/">Cool Breezes</a></li>
            <li><a class="selector-menu-item" href="/doc-breeze-labs/">Breeze Labs</a></li>
        </ul>
    </div>

    <!-- Optional additional widgets -->
    <div class="hidden-xxs">
		{% if widget1 %}
			{% include {{widget1}} %}
		{% endif %}

		{% if widget2 %}
			{% include {{widget2}} %}
		{% endif %}

		<a href="https://www.getbreezenow.com/support.html" class="navmenu-brand pull-left" >Support</a>

    </div>

    <a id="navbar-rss-logo" href="http://breeze.github.io/rss-blog.xml" title="Breeze features" class="navmenu-brand button pull-right noborder">
        <img src="/images/logos/feed-icon-28x28.png" height="28" ></a>

    <!-- Search form or icon -->
    <div class="hidden-md hidden-sm hidden-xs pull-right">
        <form id="searchform" class="form-inline navbar-brand">
            <div class="input-group">
                <input type="text" class="form-control input-sm" id="searchterm" name="searchterm" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default input-sm" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </div>
    <div class="hidden-lg pull-right">
        <a class="navmenu-brand" href="/doc-main/search-results.html"><span class="glyphicon glyphicon-search"></span></a>
    </div>

     <!-- Prev/Next buttons -->
    <div class="navbar-brand pull-right" id="next-prev">
        <button type="button" id="goPrev" class="button noborder" aria-label="Prev" >
    	   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>

        <button type="button" id="goNext" class="button noborder" aria-label="Next" >
    	   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>

</div>