<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/styles/bootstrap/js/bootstrap.js"></script>
<script src="/styles/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/js/highlightselection.js"></script>
<script src="/js/search-google.js"></script>
<!-- <script src="/js/search-github.js"></script> -->
{% if {{page.custom-js}} %}
<script src="{{page.custom-js}}"></script>
{% endif %}

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74387336-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74387336-1');
</script>
<!-- End Google Analytics -->