<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="hidden-md hidden-lg">
        <button type="button" class="navbar-toggle pull-left" style="position: static" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <a class="navmenu-brand pull-left" href="/">Breeze&nbsp;&nbsp;&nbsp;&nbsp</a>

    <!-- Tech selector -->
    <div class="btn-group pull-left">
        <a id="selected-menu" class="navmenu-brand dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{menu.title}}  <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Overview</li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-main">Introduction</a></li>
            <li role="presentation" class="dropdown-header">Client technologies</li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-js">Javascript client</a></li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-cs">C# client</a></li>
            <li role="presentation" class="dropdown-header">Server technologies</li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-net">.NET server w/ Entity Framework or NHibernate</a></li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-node-sequelize">Node server w/ Sequelize</a></li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-node-mongodb">Node server w/ MongoDB</a></li>
            <li><a class="selector-menu-item" href="http://breeze.github.io/doc-java-hib">Java server w/ Hibernate</a></li>
        </ul>
    </div>

    <!-- Optional additional widgets -->
    <div class="hidden-sm hidden-xs">
		{% if widget1 %}
			{% include {{widget1}} %}
		{% endif %}

		{% if widget2 %}
			{% include {{widget2}} %}
		{% endif %}

		<a href="http://www.getbreezenow.com/support" class="navmenu-brand pull-left" >Support</a>

		<!-- Search form -->
		<form id="searchform" class="form-inline navbar-brand pull-right">
			<div class="input-group">
				<input type="text" class="form-control input-sm" id="searchterm" name="searchterm" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-default input-sm" type="submit">Go!</button>
				</span>
			</div>
		</form>
    </div>

     <!-- Prev/Next buttons -->
    <div class="navbar-brand" id="next-prev">
        <button type="button" class="btn btn-default btn-sm" aria-label="Prev" onclick="goPrev()">
    	   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default btn-sm" aria-label="Next" onclick="goNext()">
    	   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>


</div>