<body>
    {% include defaultleftnav.html %}
    {% include defaultheader.html %}

	<div id="docpage-outer">
        <div class="container" id="docpage">
            <div id="proserve">
                <a href="https://www.ideablade.com/services" title="Ask IdeaBlade" style="color: white; text-decoration: none;">
                    <img src="images/helping-hand.png" height="50px" >
                    Need a hand with your app?
                </a>
            </div>
            {{content}}
        </div>
    </div>

    {% include defaultfooter.html %}
</body>