<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/styles/bootstrap/js/bootstrap.js"></script>
<script src="/styles/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/js/highlightselection.js"></script>
<script src="/js/search-google.js"></script>
<!-- <script src="/js/search-github.js"></script> -->
{% if {{page.custom-js}} %}
<script src="{{page.custom-js}}"></script>
{% endif %}

<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
    (function(d,s,i,r) {
        if (d.getElementById(i)){return;}
        var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
        n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/492201.js';
        e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
</script>
<!-- End of Async HubSpot Analytics Code -->