<body>
    <div id="leftnav" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-sm visible-xs" href="/"><strong>Breeze</strong></a>
        <a id="menuname" class="navmenu-brand" href="/{{page.layout}}/">{{menu.title}}</a>
		<ul class="nav navmenu-nav">
            {% for menuitem in menu.menuitems %}
                {% if menuitem.isparent %}
                <li class="dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menuitem.title}}<b class="caret"></b></a>
    				<ul class="dropdown-menu navmenu-nav">
                    {% assign indropdown = true %}
                {% elsif indropdown == true and menuitem.ischild == null %}
                    {% assign indropdown = false %}
                    </ul>
                </li>
                {% endif %}
                {% if menuitem.isparent == null %}
                    <li>
                        <a href="{{menuitem.link}}">{{menuitem.title}}</a>
                    </li>
                {% endif %}
            {% endfor %}
		</ul>
    </div>
    
    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div id="header" class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs">
        <a class="navbar-brand pull-left" href="/"><strong>Breeze</strong></a>
        <a class="navbar-brand"><strong>Technology: </strong></a>
        <div class="btn-group">            
            <button id="selected-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Summary<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Overview</li>
                <li><a href="/">&nbsp&nbsp;&nbsp;&nbsp Introduction</a></li> 
                <li role="presentation" class="dropdown-header">Client technologies</li>
                <li><a href="/doc-js">&nbsp&nbsp;&nbsp;&nbsp Javascript client</a></li>
                <li><a href="/doc-cs">&nbsp&nbsp;&nbsp;&nbsp C# client</a></li>                
                <li role="presentation" class="dropdown-header">Server technologies</li>
                <li><a href="/doc-net-ef">&nbsp&nbsp;&nbsp;&nbsp .NET server w/ Entity Framework</a></li>                    
                <li><a href="/doc-net-nhib">&nbsp&nbsp;&nbsp;&nbsp .NET server w/ NHibernate</a></li>                    
                <li><a href="/doc-node-sequelize">&nbsp&nbsp;&nbsp;&nbsp Node server w/ Sequelize</a></li>    
                <li><a href="/doc-node-mongodb">&nbsp&nbsp;&nbsp;&nbsp Node server w/ MongoDB</a></li>                    
                <li><a href="/doc-java-hib">&nbsp&nbsp;&nbsp;&nbsp Java server w/ Hibernate</a></li>
                
            </ul>
        </div>
        
        
        <form id="searchform" class="form-inline navbar-brand pull-right">
            <div class="input-group">
                <input type="text" class="form-control input-sm" id="searchterm" name="searchterm" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default input-sm" type="submit">Go!</button>
                </span>
            </div>
        </form>               
    </div>

    <div class="container" id="docpage">
        {{content}}
    </div>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/style/bootstrap/js/bootstrap.js"></script>
    <script src="/style/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="/js/highlightselection.js"></script>
    <script src="/js/search.js"></script>

</body>                     