    <div id="leftnav" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-sm visible-xs" href="/"><strong>Breeze</strong></a>
        <a class="navmenu-brand" href="/doc-java/">Breeze Java Server</a>
		<ul class="nav navmenu-nav">
			<li><a href="java01.html">Java page 1 from include</a></li>
			<li><a href="java02.html">Java page 2</a></li>
			<li><a href="java04.html">Java page 4</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu navmenu-nav">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li>
		</ul>
    </div>