##Support

**For technical questions, please go to [StackOverflow with the tag "breeze"](http://stackoverflow.com/questions/tagged/breeze?sort=newest "Breeze on StackOverflow").**  StackOverflow is a fantastic site where thousands of developers help each other with their technical questions.

We monitor the [breeze] tag on the StackOverflow website and do our best to answer your questions.
The advantage of StackOverflow over the GitHub Wiki is the sheer number of qualified developers able to help you with your questions,
the visibility of the question itself, and the whole StackOverflow infrastructure (reputation, up- or down-vote, comments, etc).

**For bug reports**, please do use the GitHub **Issues** tab!

Please post your [**feature suggestions** to our User Voice site](https://breezejs.uservoice.com/ "Breeze User Voice")

<a href="https://www.ideablade.com/breeze-subscriptions" title="Paid Support">Learn about <strong>paid support</strong></a>.

<a href="https://www.ideablade.com/free-consultation" title="Professional Services">Learn about IdeaBlade's <strong>professional services</strong> from training through application development</a>.

Have a non-technical question? Ask us at [breeze@ideablade.com](mailto:breeze@ideablade.com).
