<a class="navbar-brand"><strong>Technology: </strong></a>
<div class="btn-group">            
    <button id="selected-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Summary<span>&nbsp;&nbsp;</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header">Overview</li>
        <li><a href="/">&nbsp;&nbsp;&nbsp;&nbsp Introduction</a></li> 
        <li role="presentation" class="dropdown-header">Client technologies</li>
        <li><a href="/doc-js">&nbsp;&nbsp;&nbsp;&nbsp Javascript client</a></li>
        <li><a href="/doc-cs">&nbsp;&nbsp;&nbsp;&nbsp C# client</a></li>                
        <li role="presentation" class="dropdown-header">Server technologies</li>
        <li><a href="/doc-net-ef">&nbsp;&nbsp;&nbsp;&nbsp .NET server w/ Entity Framework</a></li>                    
        <li><a href="/doc-net-nhib">&nbsp;&nbsp;&nbsp;&nbsp .NET server w/ NHibernate</a></li>                    
        <li><a href="/doc-node-sequelize">&nbsp;&nbsp;&nbsp;&nbsp Node server w/ Sequelize</a></li>    
        <li><a href="/doc-node-mongodb">&nbsp;&nbsp;&nbsp;&nbsp Node server w/ MongoDB</a></li>                    
        <li><a href="/doc-java-hib">&nbsp;&nbsp;&nbsp;&nbsp Java server w/ Hibernate</a></li>
    </ul>
</div>