<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="leftnav" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-sm visible-xs" href="/"><strong>Breeze</strong></a>
        <a id="menuname" class="navmenu-brand" href="/doc-js/">Javascript client</a>
		<ul class="nav navmenu-nav">
			<li><a href="introduction.html">Introduction</a></li>
			<li><a href="features.html">Features</a></li>
   		    <li><a href="breeze-angular.html">Breeze + Angular</a></li>
			<li><a href="query-examples.html">Query examples</a></li>
			<li><a href="query-from.html">Query from</a></li>
			<li><a href="dummy.html">Query using JSON</a></li>
		</ul>
    </div>
    {% include mainbody.html %}
</body>
</html>
