<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="leftnav" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-sm visible-xs" href="/"><strong>Breeze</strong></a>
        <a id="menuname" class="navmenu-brand" href="/doc-net-ef/">.NET Server w/ Entity Framework</a>
		<ul class="nav navmenu-nav">
			<li><a href="net01.html">Introduction</a></li>
			<li><a href="net02.html">Net EF 01</a></li>
   		    <li><a href="net03.html">Another</a></li>
			<li><a href="net04.html">and another</a></li>

		</ul>
    </div>
    {% include mainbody.html %}
</body>
</html>
