<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="leftnav" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-sm visible-xs" href="/"><strong>Breeze</strong></a>
        <a id="menuname" class="navmenu-brand" href="/doc-java/">Breeze Java Server</a>
		<ul class="nav navmenu-nav">
			<li><a href="java01.html">Java page 1a</a></li>
			<li><a href="java02.html">Java page 2a</a></li>
			<li><a href="java03.html">Java page 3a</a></li>
			<li><a href="java03.html#part1">Java page 3 - part 1</a></li>
			<li><a href="java03.html#part2">Java page 3 - part 2</a></li>
			<li><a href="java03.html#part3">Java page 3 - part 3</a></li>
																
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 1 <b class="caret"></b></a>
				<ul class="dropdown-menu navmenu-nav">
					<li><a href="java04.html">Action</a></li>
					<li><a href="java05.html">Another action</a></li>
				</ul>
			</li>	
			<li><a href="#">Menu placeholder - dummy page</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 2 <b class="caret"></b></a>
				<ul class="dropdown-menu navmenu-nav">
					<li><a href="java06.html">Java page 6</a></li>
					<li><a href="java07.html">Java page 7</a></li>
					<li><a href="java08.html">Java page 8</a></li>
     				<li><a href="java09.html">Java page 9</a></li>
				</ul>
			</li>
		</ul>
    </div>
    {% include mainbody.html %}
</body>
</html>
