<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="leftnav" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-sm visible-xs" href="/"><strong>Breeze</strong></a>
        <a class="navmenu-brand" href="/doc-java/">Breeze Java Server</a>
		<ul class="nav navmenu-nav">
			<li><a href="java01.html">Java page 1a</a></li>
			<li><a href="java02.html">Java page 2a</a></li>
			<li><a href="java03.html">Java page 3a</a></li>
			<li><a href="java03.html#a">Java page 3 again a</a></li>
			<li><a href="java03.html#b">Java page 3 again b</a></li>
			<li><a href="java03.html#c">Java page 3 again c</a></li>
																
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 1 <b class="caret"></b></a>
				<ul class="dropdown-menu navmenu-nav">
					<li><a href="java04.html">Action</a></li>
					<li><a href="java05.html">Another action</a></li>
				</ul>
			</li>					
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 2 <b class="caret"></b></a>
					<li><a href="java06.html">Java page 6</a></li>
					<li><a href="java07.html">Java page 7</a></li>
				</ul>
			</li>
		</ul>
    </div>
    {% include mainbody.html %}
</body>
</html>
