/* custom styles for blog index page which contains a summary of all blog posts */

.blog-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    list-style-type: none;
}

.blog-item h1 {
    margin-top: 10px; / normally 30 from custom.css
    font-size: .8em;
}

.blog-excerpt {
    padding: 10px;
}

/*
.blog-excerpt h1 {
    font-size: .5em;
}
*/
