/* custom styles for blog index page which contains a summary of all blog posts */

.blog-item {
    border: 1px solid blue;
    margin-bottom: 10px;
    list-style-type: none;
}

.blog-excerpt {
    padding: 10px;
}

.blog-btn {
    font-size: 20px;
}

/*
.blog-excerpt h1 {
    font-size: .5em;
}
*/
